.water {
  background-image: url('./../../img/water.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.land {
  background-image: url('./../../img/land.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rock {
  background-image: url('./../../img/rock.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chest {
  background-image: url('./../../img/chest.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player {
  background-image: url('./../../img/player.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.enemy {
  background-image: url('./../../img/enemy.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tile {
  height: 100px;
}

.row {
}

.col{
  padding: 0 !important;
  border: 1px solid black;
}
